<%= render 'partials/navbar' %>
<section class="grid-container">
  <div class="breaking-news">
    <h1 class="text-center mt-4">Breaking News</h1><br>  
      <div class="container mx-4 mb-2 px-0 min-w-3xl w-4/5 lg:flex">
        <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('https://photos.bandsintown.com/thumb/6963711.jpeg'); background-position: center;"></div>
        <div class="border-r min-w-full border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 opacity-75">
          <div class="mb-8">
              <h2 class="text-black font-bold text-xl mb-2 my-4 article-title">Article Title 1</h2>            
              <p class="article-paragraph article-content">descrLorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque laoreet posuere mi, in eleifend orci elementum eu. Vestibulum id pellentesque lorem, vel ultrices mauris. Vivamus pretium placerat orci, eu varius velit vestibulum et. Sed in libero eu orci imperdiet semper. Curabitur in metus nunc. Mauris accumsan maximus turpis, non ullamcorper risus vulputate sit amet. Etiam dictum arcu id tempus tempor. Nam suscipit cursus ante nec vehicula. Nulla neque orci, venenatis nec auctor sed, volutpat eu sapien. Vestibulum in convallis dui, vel fermentum risus. Aliquam et dui vitae ligula viverra auctor vitae id sem. In arcu libero, cursus non libero eu, aliquet fringilla velit.iption</p>
              <p class="article-paragraph"><%=link_to "...Click to continue reading", '#' %></p>       
              <p> By: Donald Duck</p>
          </div>
        </div>
      </div>
       <h1 class="text-center mt-4">Breaking News</h1><br>  
      <div class="container mx-4 mb-2 px-0 min-w-3xl w-4/5 lg:flex">
        <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('https://photos.bandsintown.com/thumb/6963711.jpeg'); background-position: center;"></div>
        <div class="border-r min-w-full border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 opacity-75">
          <div class="mb-8">
              <h2 class="text-black font-bold text-xl mb-2 my-4 article-title">Article Title 2</h2>            
              <p class="article-paragraph article-content">descrLorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque laoreet posuere mi, in eleifend orci elementum eu. Vestibulum id pellentesque lorem, vel ultrices mauris. Vivamus pretium placerat orci, eu varius velit vestibulum et. Sed in libero eu orci imperdiet semper. Curabitur in metus nunc. Mauris accumsan maximus turpis, non ullamcorper risus vulputate sit amet. Etiam dictum arcu id tempus tempor. Nam suscipit cursus ante nec vehicula. Nulla neque orci, venenatis nec auctor sed, volutpat eu sapien. Vestibulum in convallis dui, vel fermentum risus. Aliquam et dui vitae ligula viverra auctor vitae id sem. In arcu libero, cursus non libero eu, aliquet fringilla velit.iption</p>
              <p class="article-paragraph"><%=link_to "...Click to continue reading", '#' %></p>       
              <p> By: Donald Duck</p>
          </div>
        </div>
      </div>
    </div> 
  <div class="news-feed py-2 px-4"><h1>News feed</h1></div>
  <div class="subscribe py-2 px-4"><h3>Subscribe</h3></div>
  <div class="comments py-2 px-4"><h3>Latest comments</h3></div>
  <div class="rated-articles py-2 px-4"><h3>Highest rated articles</h3></div>
</section>
<%= render 'partials/footer' %>




<!--
<div class="breaking-news py-2 px-12">
    <h1 class="mb-12">Breaking-news</h1>
    <h2> Top Super duper News item 1</h2>
    <p class="px-10 mb-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque laoreet posuere mi, in eleifend orci elementum eu. Vestibulum id pellentesque lorem, vel ultrices mauris. Vivamus pretium placerat orci, eu varius velit vestibulum et. Sed in libero eu orci imperdiet semper. Curabitur in metus nunc. Mauris accumsan maximus turpis, non ullamcorper risus vulputate sit amet. Etiam dictum arcu id tempus tempor. Nam suscipit cursus ante nec vehicula. Nulla neque orci, venenatis nec auctor sed, volutpat eu sapien. Vestibulum in convallis dui, vel fermentum risus. Aliquam et dui vitae ligula viverra auctor vitae id sem. In arcu libero, cursus non libero eu, aliquet fringilla velit.</p>
    <h2> Top Super duper News item 2</h2>
    <p class="px-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque laoreet posuere mi, in eleifend orci elementum eu. Vestibulum id pellentesque lorem, vel ultrices mauris. Vivamus pretium placerat orci, eu varius velit vestibulum et. Sed in libero eu orci imperdiet semper. Curabitur in metus nunc. Mauris accumsan maximus turpis, non ullamcorper risus vulputate sit amet. Etiam dictum arcu id tempus tempor. Nam suscipit cursus ante nec vehicula. Nulla neque orci, venenatis nec auctor sed, volutpat eu sapien. Vestibulum in convallis dui, vel fermentum risus. Aliquam et dui vitae ligula viverra auctor vitae id sem. In arcu libero, cursus non libero eu, aliquet fringilla velit.</p>
  </div>
-->