<section class="grid-container">
  <div class="breaking-news"> <%= render 'partials/toparticle' %></div>
  <div class="news-feed py-2 px-4"><%= render 'partials/apifeed' %></div>
  <div class="subscribe py-2 px-4"><h3>Subscribe</h3></div>
  <div class="comments py-2 px-4"><h3>Latest comments</h3></div>
  <div class="rated-articles py-2 px-4"><h3>Highest rated articles</h3></div>
</section>


