<%= render 'partials/navbar' %>
<section class="grid-container">
  <div class="breaking-news p-2">breaking-news</div>
  <div class="news-feed p-2">news feed</div>
  <div class="subscribe p-2">subscribe</div>
  <div class="comments p-2">Latest comments</div>
  <div class="rated-articles p-2">Highest rated articles</div>
</section>