<h1 class="text-center mt-4">Breaking News</h1> 
<div class="container mx-4 mb-2 px-0 w-4/5 flex ">
  <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('https://photos.bandsintown.com/thumb/6963711.jpeg'); background-position: center;"></div>
  <div class="border-r min-w-full border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 opacity-75">
    <div class="mb-8">
        <h2 class="text-black font-bold text-xl mb-2 my-4 article-title">Article Title 1</h2>            
        <p class="article-paragraph article-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque laoreet posuere mi, in eleifend orci elementum eu. Vestibulum id pellentesque lorem, vel ultrices mauris. Vivamus pretium placerat orci, eu varius velit vestibulum et. Sed in libero eu orci imperdiet semper. Curabitur in metus nunc. Mauris accumsan maximus turpis, non ullamcorper risus vulputate sit amet. Etiam dictum arcu id tempus tempor. Nam suscipit cursus ante nec vehicula. Nulla neque orci, venenatis nec auctor sed, volutpat eu sapien. Vestibulum in convallis dui, vel fermentum risus. Aliquam et dui vitae ligula viverra auctor vitae id sem. In arcu libero, cursus non libero eu, aliquet fringilla velit.iption</p>
        <p class="mt-2 top-article-agency"> By: Donald Duck</p>
    </div>
  </div>
</div>
<div class="container mx-4 mb-2 px-0 w-4/5 flex ">
  <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('https://www.ica.se//icase.azureedge.net/imagevaultfiles/id_67960/cf_259/maki-sushi-5532.jpg'); background-position: center;"></div>
  <div class="border-r min-w-full border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 opacity-75">
    <div class="mb-8">
        <h2 class="text-black font-bold text-xl mb-2 my-4 article-title">Sushi can kill you</h2>            
        <p class="article-paragraph article-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque laoreet posuere mi, in eleifend orci elementum eu. Vestibulum id pellentesque lorem, vel ultrices mauris. Vivamus pretium placerat orci, eu varius velit vestibulum et. Sed in libero eu orci imperdiet semper. Curabitur in metus nunc. Mauris accumsan maximus turpis, non ullamcorper risus vulputate sit amet. Etiam dictum arcu id tempus tempor. Nam suscipit cursus ante nec vehicula. Nulla neque orci, venenatis nec auctor sed, volutpat eu sapien. Vestibulum in convallis dui, vel fermentum risus. Aliquam et dui vitae ligula viverra auctor vitae id sem. In arcu libero, cursus non libero eu, aliquet fringilla velit.iption</p>
        <p class="mt-2"> By: Donald Duck</p>
    </div>
  </div>
</div>