<% @category_news.each do | feed |%>
    <h3 class="article-title inline-block mt-6 mb-1"><strong><%= feed.title %></strong></h3>
    <img width='200px'class="float-left mr-1" src="<%= feed.urlToImage %>">
    <p class="article-content flex"><%= feed.description %></p>
    <p class="article-agency mt-1"><%= link_to "Read the full story on #{feed.name}", feed.url, target: :_blank %></p>
<% end %>