<select id="categories" onchange="CAT()">
    <option>Categories</option>    
    <option value="all">All</option>    
    <option value="business">Business</option>
    <option value="entertainment">Entertainment</option>
    <option value="general">General</option>
    <option value="health">Health</option>
    <option value="science">Science</option>
    <option value="sports">Sports</option>
    <option value="technology">Technology</option>
</select>

<script>

const CAT = () =>  {
    let category = document.getElementById("myChoice").value
}
</script>