<h1>Top News</h1>  
<h3><%= @top_article.title %></h3>
<img width='350px' src="<%= @top_article.urlToImage %>">
<p><%= @top_article.description %></p>
<p><%= link_to "Read the full story", @top_article.url %></p>