.breaking-news { 
  
  grid-area: breaking-news;
  overflow: hidden;
  display: grid;
  justify-content: center;
  
  align-content: space-around;
  
 
}
body {
  font-family: 'Share Tech', sans-serif;
}

  
.news-feed { 
  border: solid black;
  grid-area: news-feed; }
.subscribe { 
  border: solid black;
  grid-area: subscribe; }
.comments { 
  border: solid black;
  grid-area: comments; }
.rated-articles { 
  border: solid black;
  grid-area: rated-articles; }

.grid-container {
  display: grid;
  height: 90vh;
  grid-gap: 30px;
  margin: 20px 70px;
  padding: 5px;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    'breaking-news breaking-news breaking-news news-feed'
    'subscribe comments rated-articles news-feed';
} 

.footer {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}