/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 a {
    text-decoration: none;    
 }

a:visited {    
    text-decoration: none;
}

 img {
    max-width: 9%;
    float: left;
}

 h3, p {
    display: grid;
    margin-left: 5px;
    padding-left: 5px;
    padding-bottom: 5px;   
}

h4 {
    color: white;
}


table {
    border: 1px solid black;
    width: 80%;
    padding: 5px;

    td {
        border: 1px solid black;
        padding: 5px;
    }
    
    tr {
        border: 1px solid black;
    }
}

.fullscreen {
    min-height: 90vh;    
}

.StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#back-to-landing {
    color: white;
}

.image-width {
    width: 800px;
}